[submodule "rmf_ws"]
	path = rmf_ws
	url = git@github.com:sitb157/rmf_ws.git
[submodule "navigation_ws"]
	path = navigation_ws
	url = git@github.com:sitb157/navigation_ws.git
    branch = devel
[submodule "robots_ws"]
	path = robots_ws
	url = git@github.com:sitb157/robots_ws.git
    branch = devel
